// Decalartion Of Variables 

$html-font-size: 16px;
$main-padding:1rem;
$extra-small:"(max-width:576px)";
$small:"(min-width:577px)";
$medium:"(min-width:768px)";
$large:"(min-width:992px)";
$extra-large:"(min-width:1200px)";